.container {
    padding: 3vh 5vw;
    max-width: 30vw;
    background-color: darkgray;
    border-radius: 15px;
}

.success {
    color: aquamarine;
    padding: 10px;
    border: 1px solid aquamarine;
    border-radius: 15px;
}

.error {
    color: crimson;
    padding: 10px;
    border: 1px solid crimson;
    border-radius: 15px;
}

.nav-bar {
    position: fixed;
    display: inline-flex;
    overflow: hidden;
    top: 0;
    left: 0;
    border-bottom: 1px solid paleturquoise;
    width: 100%;
}

.nav-title {
    display: inline-flex;
    align-items: center;
    margin-right: auto;
    margin-left: 10px;
    pointer-events: none;
}

.nav-item {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    padding: 0 8px;
}

.nav-item:hover {
    background-color: darkgray;
}

.tickets-container {
    min-height: 250px;
    max-width: 912px;
    margin: 0 auto;
}

.new-ticket {
    padding: 10px 20px;
    margin: 5px 0;
    background-color: darkgray;
    border-radius: 15px;
}

.new-ticket, .new-ticket form {
    display: inline-flex;
    align-items: center;
}

.MuiDataGrid-scrollbar {
    display: block !important;
}

@media screen and (max-width: 768px) {
    .container{
        max-width: 60vw;
    }

    .new-ticket, .new-ticket form {
        display: grid;
    }
}

@media screen and (max-width: 480px) {
    .container{
        max-width: 80vw;
    }
}
@media (prefers-color-scheme: dark) {
    .MuiDataGrid-cell, .MuiDataGrid-footerContainer, .MuiToolbar-root, .MuiTablePagination-actions {
      color: #ffffff;
    }
  }